.worldmap {
  flex: 1 0 0;
  height: 100%;
  width: 690px;
  background: url("../Image/Group 943 (1).webp") lightgray 50% / cover no-repeat;
  margin-left: 35px;
}

.mainsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 40px;   */
  gap: 30px;
  /* height: 868px; */
  height: 600px;
  overflow-x: hidden;
}
.maincontainer {
  display: flex;
  flex-direction: row;

  /* justify-content: space-between; */
  /* align-items: center; */
  justify-content: end;
  /* align-items: center; */
  /* gap: 60px; */
  /* align-self: stretch; */
  height: 370px;
  margin-top: 30px;
}
.homeTextContainer {
  /* padding-right: 80px; */
  gap: 64px;
  flex: 1 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  justify-content: center;
}

.hometext {
  width: 610px;
  height: 123px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  gap: 20px;
  align-self: stretch;
}

.hometext h6 {
  align-self: stretch;
  color: var(--Primary, #e7c498);
  text-align: right;
  font-size: 40px;
  font-weight: 700;
  height: 55px;
}

.hometext h6 span {
  color: var(--Default-Font, var(--Primary, #111827));
}
.hometext p {
  color: var(--Grey-60, #999);
  text-align: right;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  align-self: stretch;
}

.homegroubbtn {
  gap: 16px;
  width: 610px;
  height: 49px;
  display: flex;
  align-items: center;
  align-self: stretch;
  padding-right: 30px;
}
.homebtn {
  display: flex;
  padding: 14px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  width: 200px;
  border: 2px solid black;
}

.homebtn:hover {
  background-color: rgba(231, 196, 152, 0.5);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homeimg {
  flex: 1 0 0;
  height: 100%;
  width: 690px;
  background: url(../Image/Home.webp) lightgray 50% / cover no-repeat;
  margin-left: 35px;
}
.homeboxgroub {
  /* width: 100%; */
  height: 126px;
  display: flex;
  width: 1340px;
  padding: 80px 10px;
  justify-content: center;
  align-items: center;
  gap: 49px;
  border-radius: 40px;
  background: rgba(231, 196, 151, 0.5);
  box-shadow: 0px 0px 0px 6px rgba(231, 196, 152, 0.4);
  backdrop-filter: blur(2px);
}
.homebox {
  width: 216.135px;
  padding: 25px 12.53px;
  gap: 12.53px;
  border-radius: 7.831px;
  border: 0.783px solid #252525;
  background: var(--Primary, #e7c498);
  height: 125px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: background-color 0.3s ease;
}

.homebox:hover {
  background-color: rgba(231, 196, 152, 0.5);
  cursor: pointer;
}


.homebox p {
  align-self: stretch;
  color: #000;
  text-align: center;
  font-size: 12.53px;
  font-weight: 600;
  line-height: 150%;
}

.arrow {
  position: absolute;
  right: 15.27px;
  top: 15.662px;
}

.iconbox {
  padding: 6.265px;
  border-radius: 78.31px;
  border: 0.783px solid #000;
  gap: 7.831px;
}

@media (max-width: 1349px) {
  .mainsection {
    overflow: hidden;
    gap: 0px;
  }
  .maincontainer {
    flex-direction: row;
    gap: 0px;
    width: 100%;
    height: 340px;
  }

  .homeimg {
    height: 100%;
    width: 690px;
  }

  .homeTextContainer {
    gap: 30px;
  }

  .hometext {
    width: 90%;
    margin-bottom: 30px;
  }

  .hometext h6 {
    font-size: 28px;
  }

  .hometext p {
    font-size: 15px;
  }

  .homeboxgroub {
    gap: 10px;
    margin-top: 10px;
  }

  .homebox {
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    gap: 0.53px;
  }
  .homeTextContainer {
    width: 455px;
  }
}
@media only screen and (max-width: 922px) {
  .homeimg {
    height: 100%;
    width: 690px;
  }

  .homeboxgroub {
    /* height: auto;
    flex-wrap: nowrap; */
    display: ;
  }

  .homeTextContainer {
    width: 455px;
  }
}
/* @media only screen and (max-width: 665px) {
  .homeimg {
    display: none;
  }
} */
